<div class="profile"><h1> Nicholas Lamb </h1></div>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALVAAAAJDQ2MmJlMWI5LTM3NjEtNGE2NS04NTE0LWY1ODkxZmI2NjQ1ZA.jpg" />
<img src="home/nitrous/workspace/public/pop-exclamation-gary-grayson.jpg" />
<h2>Entrepreneur, Data Analyst and Software Engineer</h2>
<p>Learning to code the basics will allow me to more effectively communicate and manage development teams.</p>
<a href="/read_more">READ MORE</a>